html {
    --font-color:                     green;
    --highlight-background-color:     rgba(235, 235, 235, 1.0);

    --header-normal-background-color: #a0a2a3;
    --header-normal-font-color:       rgba(255,255,255, 0.8);
    --header-active-background-color: rgba(255,255,255, 0.2);
    --header-active-font-color:       rgba(255,255,255, 0.9);
}
