/* table, tr, td, th {
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  border-radius: 100rem;
  background-color:#a0a2a3;

} */

.train-table{
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-collapse: collapse;
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  table-layout: fixed;

}

#train-insert th{
    text-align: center;
    background-color: #9BAEFD;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}


#train-insert{
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-collapse: collapse;
  background-color: white;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
#train-insert td{
border: 1px solid #9BAEFD;
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#train-insert tr:first-child th {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  border-top: 0;
}
#train-insert tr:last-child td {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  border-bottom: 0;
}
#train-insert tr td:first-child,
#train-insert tr th:first-child {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  border-left: 0;
}
#train-insert tr td:last-child,
#train-insert tr th:last-child {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  border-right: 0;
}

/* tr, th, td{
    border: 1px solid black;
} */
/* #train-table, th{
  background-color:
border: black; */
  /* border-color: black;
 */

/* }
.add-train {
  display: flex;
}

.btn-train {
  display: inline-block;
} */

button {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    border-radius: 5rem;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: #a0a2a3;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    }

    button:hover{
       background-color:#454647;
    }


.input{
  position: relative;
  font-size: 0.5em;
  background: linear-gradient(21deg, #10abff,#1beabd);
  padding: 0.188em;
  display: inline-block;
  border-radius: 9999em;
  z-index: 0;
  box-shadow: inset 0 0 0 0.188em #ffff,
  0 0 0 0.250em #ffff,
0.188em -0.188em 1.875em  #9BAEFD,
-0.188em 0.188em 1.875em  #9BAEFD;
margin: 1.5em;
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

input{
  position: relative;
  display: inherit;
  border-radius: inherit;
  margin: 0;
  border: none;
  outline: none;
  padding: 0.325em;
  z-index: 1;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

input:focus{
  opacity: 1;
  transform: scale(1);
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#kategorie{
  border: none;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

    /* #train-insert{ */
      /* text-align: left;
      border-color: red;
      background: white;
      border-radius: 10px;
      width: 100%;
      margin: 0 auto;
      position: relative; */
/* } */

/* table{
  border-color: black;
} */
/* table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
} */
