/* Klassen für Text-Ausrichtung */
.left {text-align: left;}
.center {text-align: center;}

/* Erstellung von Textboxen */

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

input{
  font-size: 0.85rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
label {
    margin: .4rem 0;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

button {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    border-radius: 10rem;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  background-color: #6D87C5;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    }


#pdDeleteBtn{
  background-color:red;
}
  button:hover, #pdDeleteBtn:hover{
     background-color:#a0a2a3;
  }
  

#geschlecht{
 height:1.5rem;
 font-size: 1rem;
}
.filler{
  visibility: hidden;
}
.angaben {
  display:inline;
  text-align: left;
  padding-top: 8%;
  padding-left: 0%;
  padding-right:20%;
  border-left: 10%;
}
.input {
  display:inline;
  text-align:center;
  padding-top: 8%;
  padding-left: 10%;
  border-left: 10%;
}
.inputbox {
  border-radius: 25px;
  border: 0.1rem solid #6D87C5;
  padding: 2rem;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 2%;
  margin-left: 14%;
  width: 64%;
  height: 10%;
}

.inputbox > img{
  float:left;
}

.textbox {
  width: 10rem;
  background: white;
  color: black;
}
