
html, body {
    padding: 0;
    margin: 0;

    min-height: 100%;
    height: 100%;
}

html {
    font-size: 14pt;
    line-height: 1.6;
    --content-padding: 1rem;
}

@media (min-width: 40em) {
    html {
        font-size: 15pt;
    }
}

@media (min-width: 60em) {
    html {
        font-size: 16pt;
    }
}

@media (min-width: 80em) {
    html {
        font-size: 18pt;
    }
}

body {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}

header{
  background-color: blue;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: Tahoma, serif;
  font-weight: normal;
  margin-bottom: auto;
  font-size: 350%;
  color: white;
}

button{
  display: block;
  align-items: center;
  margin-right: auto;
  margin-left: auto;


}
