.box {
  background-color: grey;
  float: left;
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size:200%;
  line-height:50px;
  color:black;

}

.text {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color: black;
}

#links {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  background-color: #9BAEFD;
  cursor: pointer;
  width: 50px;
  height:50px;
  position:  inherit;
  top:50%;
  left:58%;
  margin-top:+20px;
 align-items: center;



}

#mittejn {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  background-color:#C0C0C0 ;
  width: 200px;
  heigt: 50px;
  position:  inherit;
  top:50%;
  left:58%;
  margin-top: 20px;


}

 #rechts{
   font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  background-color: #9BAEFD;
  cursor: pointer;
  width: 50px;
  height:50px;
  position:  inherit;
  top:50%;
  left:58%;
  margin-top:+20px;

}

.linksBtn{
  color: black;
  text-decoration: none;
}

.rechtsBtn{
  color: black;
  text-decoration: none;
}

.mitteBtn {
  color: black;
  text-decoration: none;
}

.linksBtn:hover{
  color:black;
}

.rechtsBtn:hover{
  color:black;
}

.mitteBtn:hover{
  color:black;
}
h3 {
  margin-top: 150px;
  margin-left: -52%;
}
/* table{
  border: 1px solid gray;
  margin-left: 17%;
  background-color: white;
} */

 #tableTrain{
   font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-collapse: collapse;

  table-layout: fixed;

}

#tableTrain th{
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    background-color: #9BAEFD;
}


#tableTrain{
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-collapse: collapse;
  background-color: white;
}
#tableTrain td{
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
border: 1px solid #9BAEFD;
}

#tableTrain tr:first-child th {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  border-top: 0;
}
#tableTrain tr:last-child td {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  border-bottom: 0;
}
#tableTrain tr td:first-child,
#tableTrain tr th:first-child {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  border-left: 0;
}
#tableTrain tr td:last-child,
#tableTrain tr th:last-child {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  border-right: 0;
}
